<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URL Shortener Microservice</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <h1>URL Shortener Microservice</h1>
  <div class ="form-container">
    <form action="/api/shorturl/new" method="post">
      <input type="text" name="url" placeholder = "url" size="30">
      <input type="submit" value="Post">
    </form>
  </div>
</body>
</html>